.gridcell {
  width: 20px;
  height: 20px;
  /* border-radius: 1rem; */
  border: 1px solid #3700b3;
}

.chocopie {
  background-color: burlywood;
  border-color: yellow;
}

.snake {
  background-color: purple;
  border-color: white;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 100ms;
}

.grid-row {
  display: flex;
}
